<!DOCTYPE html>
<html lang="en">
<%- include("head") %>
<body>
<section class="section">
    <div class="container">
        <h1><%= city.label %></h1>
        <h2>Diện Tích: <%= city.area %></h2>
        <p><%= city.description %></p>
    </div>
</section>
</body>
</htm